.project-wrapper {
    max-width: 600px;
    margin: 0 auto auto 10rem;
    display: block;
}

.project-row {
    display: flex;
    align-items: center;
}

.project {
    display: flex;
    max-width: 50%;
    margin: 0 15px;
    position: relative;
}