.cv-container {
    flex-direction: column;
    text-align: left;
    width: 100%;
    height: inherit;
    padding: 50px;
    background: var(--cv-background-color);
    color: var(--project-border-color);
}

.cv-title {
    margin-top: 20px;
    font-size: 50px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}

.cv-item {
    width: 100%;
    margin-top: 10px;
}

.cv-date {
    width: 200px !important;
    font-weight: 400;
    font-style: italic;
}

.cv-date::after {
    content: " ";
    position: relative;
    bottom: 37px;
    left: 185px;
    display: block;
    height: 5px;
    width: 5px;
    background-color: var(--repo-link-color);
}

#education-label {
    margin-left: 200px;
}

#workexperience-label {
    margin-left: 200px;
}

.Text .cv-para {
    font-style: oblique;
}

.cv-para {
    font-size: 16px;
    word-wrap: break-all;
}

.cv-uni {
    font-weight: 400;
    font-style: italic;
}

.cv-subjects {
    padding-left: 20px;
}

div.hr {
    margin-top: 20px;
    width: 700px;
    height: 2px;
    background-color: var(--repo-link-color);
}

div.hr hr {
    display: none;
}

@media screen and (max-width:1160px) {
    .cv-container {
        overflow-x: hidden;
        padding-left: 30px;
    }
    #cv {
        font-size: 26px;
        font-weight: bolder;
        margin-bottom: 20px !important;
    }
    .cv-date {
        width: 0px !important;
        display: none;
    }
    .cv-title {
        text-align: left;
        margin: 0px;
        float: left
    }
    .div.hr {
        visibility: hidden !important;
    }
    .cv-item {
        margin-bottom: 5px;
    }
    .media-item {
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        margin-bottom: 5px !important;
    }
    #education-label {
        margin-left: 0px;
    }
    #workexperience-label {
        margin-left: 0px;
    }
}