a {
    text-transform: uppercase;
}

a:hover {
    text-decoration: none;
}

.App {
    display: flex;
    text-align: center;
    overflow: hidden;
}

.App-container {
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    justify-content: left;
}

.App-sidebar {
    background-color: rgba(40, 44, 52, .6);
    padding: 0;
    min-width: 300px;
    float: left;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.profile-image {
    margin-top: 75px;
    margin-bottom: 50px;
}

.sidebar-link-group {
    color: white;
    width: 100%;
    flex-direction: column;
    justify-self: left;
    text-align: left;
}

.sidebar-link {
    text-transform: uppercase;
    width: 100%;
    font-size: large;
    padding: 10px 0 10px 50px;
    color: var(--repo-link-color);
}

.sidebar-link:hover {
    color: white;
    background-clip: content-box;
    background: linear-gradient(45deg, var(--repo-link-color), #00000000);
}

.sidebar-link:hover::after {
    padding-left: 2px;
}

.sidebar-text-image {
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
}

.landing-page-container {
    min-width: calc(100vw - 300px);
    margin-top: 50px;
    margin-left: 150px;
    flex-direction: column;
    vertical-align: baseline;
    text-align: left;
}

.title-text-container {
    align-self: baseline;
    width: 70%;
}

.title-text {
    white-space: pre-line;
    color: #f6f6f6;
    text-shadow: 2px 2px 2px black;
}

.landing-page-button {
    width: 200px;
    border: 1px solid white;
    box-shadow: 1px 1px 1px black;
    padding: 4px;
    text-shadow: 1px 1px 1px black;
    background-color: transparent;
    font-weight: 400;
    font-size: large;
    margin: 10px 0 10px 0;
}

.landing-button-group {
    flex-direction: column;
    margin-top: 50px;
}

.grid-enter {
    opacity: 0.01;
}

.grid-enter-active {
    opacity: 1;
    transition: all 500ms;
}

.grid-exit {
    opacity: 1;
    transition: all 300ms
}

.grid-exit-active {
    opacity: 0.01;
    transition: all 500ms;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    row-gap: 10px;
    column-gap: 10px;
    width: 70%;
    margin-top: 50px;
    padding-top: 10px;
    border-radius: 5px;
}

.blue-text {
    color: #82d3ff
}

.project-container {
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    width: 100% !important;
    height: 150px !important;
    background-color: var(--project-main-color);
    border: 1px solid var(--project-border-color);
    border-radius: 6px;
    box-sizing: border-box;
}

.project-title {
    font-weight: 600;
    color: var(--repo-link-color);
}

.project-description {
    color: var(--repo-text-color);
    font-size: 16px;
    margin: 8px 0 16px 0;
}

.project-language {
    font-weight: 500;
    color: var(--repo-text-color);
}

.project-pushedat {
    color: white;
    font-weight: normal;
    float: right;
}

.project-createdat {
    color: white;
    font-weight: normal;
    float: right;
}

.repo-text-container {
    margin-top: 20px;
    margin-bottom: -20px;
    align-self: center;
    width: 70%;
}

.sidebar-icons {
    width: 100%;
    align-self: center;
    justify-content: space-evenly;
    margin-bottom: 40px;
}

Link:hover {
    text-decoration: none;
}

@media screen and (max-width:801px) {
    .App-sidebar,
    .project-createdat,
    .project-pushedat {
        display: none !important;
    }
    .landing-page-container {
        margin-left: 20px;
        margin-top: 10px;
    }
    .title-text {
        font-size: 20px !important;
    }
    .landing-page-button {
        width: 40vw;
        margin-top: 5px;
    }
    .landing-button-group {
        margin-top: 50px;
    }
    .project-grid {
        width: 90vw;
        grid-template-columns: 1fr !important;
        justify-items: stretch !important;
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .project-container {
        height: 200px !important;
    }
}