.App {
    display: flex;
    text-align: center;
}

.App-container {
    width: 100%;
    height: 100vh;
}

.App-sidebar {
    background-color: rgba(40, 44, 52, .6);
    padding: 0;
    min-width: 100px;
    width: 400px;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.profile-image {
    margin-top: 75px;
    margin-bottom: 50px;
}

.sidebar-link-group {
    flex-direction: column;
    align-self: left;
    margin-top: 10px;
    text-align: left;
}

.sidebar-link {
    text-decoration: none;
    color: var(--repo-link-color);
}

.sidebar-text {
    text-align: left;
}

.landing-page-container {
    margin-top: 50px;
    min-width: calc(100vw - 300px);
    flex-direction: column;
    align-content: center;
    justify-items: center;
    text-align: left;
}

.title-text-container {
    align-self: center;
    width: 70%;
}

.title-text {
    white-space: pre-line;
    color: #f6f6f6;
    text-shadow: 2px 2px 2px black;
}

.project-grid {
    width: 70%;
    align-self: center;
    margin: 50px;
    padding: 10px;
    background-color: rgba(40, 44, 52, .6);
    border-radius: 5px;
}

.blue-text {
    color: #82d3ff
}

.project-container {
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    width: 100% !important;
    height: 150px !important;
    background-color: var(--project-main-color);
    border: 1px solid var(--project-border-color);
    border-radius: 6px;
    box-sizing: border-box;
}

.project-title {
    font-weight: 600;
    color: var(--repo-link-color);
}

.project-description {
    font-size: 16px;
    margin: 8px 0 16px 0;
}

.project-language {
    font-weight: 500;
    color: var(--repo-text-color);
}