:root {
    --background-base: #E5E4E2;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: var(--background-base);
    font-family: Fira Code, Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App {
    display: flex;
    flex-direction: column;
    margin: 0em 10em 0em 10em;
    letter-spacing: -0.8px;
}

a {
    color: black;
    text-decoration: none;
}

.inline-code-block {
    font-family: Consolas;
    background-color: #2b2b2b;
    color: white;
}

@media (max-width: 1200px) {
    .App {
        align-items: stretch;
        margin: 0;
        padding: 0;
    }
}

@media (max-width: 720px) {
    .App {
        margin: 0;
        padding: 0;
        align-items: stretch;
    }
}