:root {
  --background-base: #fefad4
}

body {
  margin: 0;
  background-color: var(--background-base);
  font-family: Fira Code, Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
